@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #3e3d3b;
  --text-sm: .825rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter-tight: var(--font-inter-tight);
  --font-lora-sans: var(--font-lora-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf9f5;
    --foreground: #3e3d3b;
    --text-sm: .825rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;
}

/* side nav start */
.side-nav ul > li {
  font-size: 1.15rem;
  line-height: 1.45;   
}
/* side nav end */

/* Resume start */
.resume a {
  text-decoration: underline; 
}

.resume .highlights-list li { 
  list-style-type: disc; 
}

/* Resume end */

.md-content p, .md-content ul > li, .md-content ol > li {
  font-size: var(--text-sm);
  text-align: justify;
}

p, ul > li {
  font-size: var(--text-sm);
  line-height: 1.65;  
}

.md-content p {
  margin-block-end: 1rem;
  line-height: 1.65;  
}

.md-content hr {
  width: 100%; 
  margin-block-end: 1rem;
  color: var(--foreground);
}

.md-content ul, .md-content ol {
  padding-inline-start: 2rem;
}

.md-content a {
  text-decoration: underline;
}

.md-content ul > li {
  list-style-type: disc;
}

.md-content p > a {
  margin-inline-end: 1rem; 
}

.md-content ul > li, .md-content ol > li {
  line-height: 1.7;
}

h1 {
  font-size: 1.40rem;
  font-weight: 600;
}

.md-content h1 {
  margin-bottom: 1rem;
}

h2 { 
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.10rem; 
}

h4 {
  font-size: .95rem; 
}

.thoughts ul {
  padding-inline-start: 0;
}

.thoughts ul > li > a {
  letter-spacing: .55px;    
  font-size: var(--text-sm);
}

.thoughts p {
  font-size: var(--text-sm)
}

.thoughts ul > li, .thoughts span { 
  list-style-type: none; 
}


